*{
  margin: 0px;
  padding: 0px;
  
}

html{
font-size: 16px;
}

header {
  width: 100%;
  height: auto;
}

body{
overflow-x: hidden;
max-width: 100%;
font-family: 'Open sans', Arial, Helvetica, sans-serif ;
font-weight: 400;
line-height: 1.5;
}


h1{
  font-size: 3.5rem;
  border-bottom: 3px black solid;
  
}


h1,
h2
{
 font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  margin-bottom: 0.75em;
  max-width: 100%;
}


/* Link til skip content: https://css-tricks.com/how-to-create-a-skip-to-content-link/ */
.skip-content{
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
}

p {
  margin-bottom: 2rem;
}



.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-flow: row wrap;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  background-color:#d8cfd0;
  font-family: 'Poppins', sans-serif;
}

li {
  text-decoration: none;
  list-style-type: none;
}


  nav li{
  text-align: center;
  color:black;
  border: 1px solid;
  box-sizing: border-box;
  flex: 1 0 0;
  min-width: 10rem;
  
}


nav li:hover{
  background-color: #dcdcde;
  color: black;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;

}

a:focus {
  outline: 3px black solid;
}

.skip-content:focus{
  transform: translateY(0);
}
   

.active {
  background-color: #b1a6a4;
  color: black;
  box-shadow: rgb(10, 10, 10);
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto; 
}

.flex-part{
  padding: 2rem 0;
  max-width: 100%;
}


.container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  width: min(90%, 650px );
}

.container img{
  margin: 2rem auto;
  max-height: 75vh;
}


.part1 {
  background-color:#f6f6ea;
  
}

.part2 {
  background-color: #d8cfd0;
}

.part3{
  background-color: #f6f6ea;
}



.welcome {
  position: relative;
  color: white;
  max-height: 30%;
}

.welcome h1 {
  text-decoration: underline;
  border: 0;
}

.welcome img{
  width: 100%;
  max-height: 100vh; 
  opacity: 0.9; 
}

.welcome p {
  max-width: 80%;
  font-size: 1.8rem;
  text-align: center;
  margin:0 auto;

}

/* Kilde for å sentrere tekst i midten av bilde: https://www.w3schools.com/howto/howto_css_center-vertical.asp */

.text-block {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  width: 100%;
  
}

.text-block h1 {
  margin-bottom: 1rem;
}

footer{
  background-color: #dcdcde;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding: 30px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 40px;
}

.fa{
  display: inline-block;
  padding: 15px;
  font-size: 30px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  width: 25px;
  margin-left: 15px;
  margin-top: 15px;
}



.fa-facebook{
  background: #3B5998;  
  color: white;
}

.fa-instagram{
  background: #125688;
  color: white;
}

.icon{
  visibility: hidden;
}

@media screen and (min-width: 900px){

  html{
    font-size: 18px;
  }
  .container {
    flex-direction: row;
    column-gap: 5rem;
    align-items: center;
    font-size:1.6rem;
    width: min(80%, 1200px);
    }

    .container img {
      margin: 0;
    }


  .part1 div {
     align-items: flex-start;
  }

  .container div {
    /* max-width: 50%; */
    flex: 1 1 0;
  }

  .img-right {
    display: flex;
    justify-content: center;
  }

  .img-right {
    order: 2;
  } 

}

    /* .container {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
    font-size:1.6rem
      } 


     .flex-part{
       display: flex;
       flex-direction: column;
       column-gap: 5rem;
       justify-content:center;
     }

    .container img {
      margin: 0;
      flex: 1 1 0;
      align-items: center;;
    }

   .container div {
     max-width: 50%;
     flex: 1 1 0;
   }   

  



    .flex-part {
    padding-top: 2rem;
    display:flex;
    flex-direction: column;
      } 

  .part1 div {
        align-items: flex-start;
        flex: 1;
      } */













